@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<CascadingAuthenticationState>
    <div class="page bg-gray-50 min-w-0 flex flex-col h-screen w-full">
        <div class="top-row pl-3 bg-gray-800 w-full">
            <div class="container mx-auto">
                <a class="text-white" href="">AIDemo</a>
            </div>
        </div>

        <div class="flex flex-row flex-1">
            <main role="main" class="flex-1 pb-3">
                @Body
            </main>
        </div>

        <footer class="m-4 border-top footer text-muted">
            <div class="container">
                &copy; 2024 - Phil Haack.
            </div>
        </footer>
    </div>
</CascadingAuthenticationState>


