@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<CascadingAuthenticationState>
    <div class="page bg-gray-50 min-w-0 flex flex-col h-screen w-full">
        <div class="top-row pl-3 bg-gray-800 w-full">
            <div class="container mx-auto flex justify-between items-center">
                <a class="text-white font-bold text-lg" href="">Haack AI Demo</a>
                <AuthorizeView>
                    <Authorized>
                        <a class="text-white" href="/logout">Logout</a>
                    </Authorized>
                    <NotAuthorized>
                        <a class="text-white" href="/login">Login</a>
                    </NotAuthorized>
                </AuthorizeView>

            </div>
        </div>

        <main role="main" class="flex flex-col flex-1 pb-3">
            @Body
        </main>

        <footer class="m-4 border-top footer text-muted">
            <div class="container">
                &copy; 2024 - Phil Haack.
            </div>
        </footer>
    </div>
</CascadingAuthenticationState>


