@page
@model AIDemoWeb.Demos.Pages.AskPageModel
@{
    ViewData["Title"] = "Ask The AI Page";
}

<section class="m-4 p-4 rounded-xl bg-white border border-gray-300">
    <h1 class="text-lg font-semibold leading-tight">Welcome</h1>
    <p class="mt-2">This is a demonstration of using OpenAI to generate text.</p>

    <form method="post">
        <input asp-for="PreviousMessages" type="hidden" value="@Model.PreviousMessages" />
        <details class="p-2">
            <label asp-for="SystemPrompt" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">System Prompt</label>
            <textarea asp-for="SystemPrompt"
                rows="4"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 focus:cursor-auto dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your question here…"></textarea>
            <span asp-validation-for="SystemPrompt"></span>
        </details>

        <div class="p-2">
            <label asp-for="Question" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your question</label>
            <textarea asp-for="Question"
                rows="4"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 focus:cursor-auto dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your question here…"></textarea>
            <span asp-validation-for="Question"></span>
        </div>

        <div class="p-2">
            @if (Model.Answer is { Length: > 0 }) {
                <article class="prose">
                    @Model.Answer
                </article>
            }
            <button type="submit" class="mt-2 btn btn-primary">Submit</button>
        </div>
    </form>
</section>
