@page
@model AIDemoWeb.Pages.HomePageModel

@{
    ViewData["Title"] = "Home Page";
}

<section class="m-4 p-4 rounded-xl bg-white border border-gray-300">
    <div asp-authz="false">
        <h1 class="text-lg font-semibold leading-tight">Welcome</h1>
        <p class="mt-2">This site demonstrates using Open AI in multiple ways.</p>
        But first, you need to <a asp-page="/Login">login</a>.
    </div>

    <div asp-authz>
        <h1 class="text-lg font-semibold leading-tight">Welcome</h1>
        <p class="mt-2">
            This is a demonstration of a 1-1 chat bot implemented with the Open AI Chat GPT API.
        </p>
        <p class="text-gray-400 text-sm">
            <a asp-page="/Assistants/Index">Click here</a> for a demonstration of the Assistants API.
        </p>

        <div class="mt-2">

            @*------------------------------------------------------------
            LOOKIE HERE!

            Blazor component located in the /Components/Bot.razor file.

            This is pretty much the starting point and important part
            of this file. All the other stuff just makes it look pretty.
            ------------------------------------------------------------*@
            <component type="typeof(Bot)"
                       render-mode="Server"
                       param-Username="@Model.User.Identity?.Name"/>

        </div>
    </div>
</section>
