@model Haack.AIDemoWeb.Library.Clients.MessageText
@{
    var content = Model.Value;
    int startIndex = 0;
    int annotationIndex = 1;
}

<span class="font-medium">
    @foreach(var annotation in Model.Annotations) {
        <span>@content[startIndex..annotation.StartIndex]</span>
        <span
            class="has-tooltip-arrow"
            data-tooltip="@(annotation.FileCitation?.Quote ?? annotation.FilePath?.FileId)">[@annotationIndex]</span>
        startIndex = annotation.EndIndex;
        annotationIndex++;
    }
    <span>@content[startIndex..]</span>
</span>