    <!-- Inspired by https://flowbite.com/docs/components/sidebar/ -->
    <ul class="space-y-2 font-medium">
        <li>
              <a asp-page="/Index"
                 class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                  <span class="w-6">
                      <i class="fa-solid fa-handshake-angle"></i>
                  </span>
                  <span class="ml-3">Chat Assistant</span>
              </a>
          </li>
        <li>
            <button type="button"
                    class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                    aria-controls="dropdown-example"
                    data-collapse-toggle="demo-list">
                <span class="w-6">
                    <i class="fa-solid fa-box-archive"></i>
                </span>
                <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Demos</span>
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
            </button>
            <ul id="demo-list" class="hidden py-2 space-y-2 pl-4 text-gray-400 opacity-80 bg-gray-100">
                <li>
                    <a asp-page="/Demos/Ask"
                       class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <span class="w-6">
                            <i class="fa-solid fa-question"></i>
                        </span>
                        <span class="ml-3">Ask the AI</span>
                    </a>
                </li>
                <li>
                    <a asp-page="/Demos/Chat" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <span class="w-6">
                            <i class="fa-regular fa-comments"></i>
                        </span>
                        <span class="ml-3">Chat</span>
                    </a>
                </li>
                <li>
                    <a asp-page="/Assistants/Index" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <span class="w-6">
                            <i class="fa-solid fa-handshake-angle"></i>
                        </span>
                        <span class="ml-3">Assistants</span>
                    </a>
                </li>
                <li>
                    <a asp-page="/Demos/Threads/Index" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <span class="w-6">
                            <i class="fa-solid fa-headset"></i>
                        </span>
                        <span class="ml-3">Threads</span>
                    </a>
                </li>
                <li>
                    <a asp-page="/Demos/Files/Index" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <span class="w-6">
                            <i class="fa-regular fa-file"></i>
                        </span>
                        <span class="ml-3">Files</span>
                    </a>
                </li>
                <li>
                    <a asp-page="/Demos/Users" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <span class="w-6">
                            <i class="fa-solid fa-users"></i>
                        </span>
                        <span class="ml-3">Users</span>
                    </a>
                </li>
                <li>
                    <a asp-page="/Demos/Models" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <span class="w-6">
                            <i class="fa-solid fa-share-nodes"></i>
                        </span>
                        <span class="ml-3">Models</span>
                    </a>
                </li>
            </ul>
        </li>

        @if (ViewContext.HttpContext.User.Identity is { IsAuthenticated: true }) {
            <li>
                <a asp-page="/Logout" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <span class="w-6">
                        <i class="fa-solid fa-user"></i>
                    </span>
                    <span class="flex-1 ml-3 whitespace-nowrap">Sign out</span>
                </a>
            </li>
        } else {
            <li>
                <a asp-page="/Login" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <span class="w-6">
                        <i class="fa-regular fa-user"></i>
                    </span>
                    <span class="flex-1 ml-3 whitespace-nowrap">Sign In</span>
                </a>
            </li>
        }
    </ul>

