<div class="top-row pl-3 bg-gray-800">
    <div class="container mx-auto">
        <a class="text-white" href="">AIDemo.Blazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="hidden"/>

<div class="nav-scrollable" onclick="document.querySelector('.hidden').click()">
    <nav class="flex flex-col">
        <div class="nav-item px-3">
            <NavLink class="nav-link text-gray-700" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link text-gray-700" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link text-gray-700" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>
