@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="my-4 p-4 rounded-xl bg-white border border-gray-300">
    <h1 class="text-lg font-semibold leading-tight">Welcome</h1>
</section>
