@page
@model AIDemoWeb.Demos.Pages.Assistants.CreateThreadPageModel

@{
    ViewData["Title"] = "Create thread";
}

<section class="m-4 p-4 rounded-xl bg-white border border-gray-300">
    <h1 class="text-lg font-semibold leading-tight">Create a thread</h1>
    <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">
        After creating a thread, you can add messages to it and then
        create runs to process those messages.
    </p>
    <div asp-validation-summary="ModelOnly" class="text-sm text-red-600"></div>

    <form method="post">
        <button type="submit" class="btn btn-primary">Create thread</button>
    </form>
</section>