@page "/logout"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@inject AuthenticationStateProvider AuthenticationStateProvider

<section class="m-4 p-4 rounded-xl bg-white border border-gray-300">
    <h1 class="text-lg font-semibold">Authentication</h1>
    <p class="lead text-left">You have been signed out.</p>
    <p class="lead text-left">Click the button below to sign in again.</p>

    <form asp-page="SignIn" method="post">
        <button class="btn btn-lg btn-success m-1" type="submit">
            Sign in
        </button>
    </form>
</section>

@code {
    protected override async Task OnInitializedAsync()
    {
        // Implement logout logic here
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated is true)
        {
            // Implement logout logic here

        }
    }
}