<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="AIDemoWeb is a demonstration of using OpenAI.">
    <base href="~/" />
    <component type="typeof(Microsoft.AspNetCore.Components.Web.HeadOutlet)"
        render-mode="ServerPrerendered" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="~/dist/css/main.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&Roboto+Mono:wght@400;700&family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="~/dist/js/main.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/ff2f030d73.js" crossorigin="anonymous"></script>
    <title>@ViewData["Title"] - AIDemoWeb</title>
</head>
<body class="font-sans">
    <main class="bg-gray-50 min-w-0 flex flex-col h-screen w-full">

        <div class="pr-4 pt-2 ml-auto">
            @if (ViewContext.HttpContext.User.Identity is {IsAuthenticated: true }) {
                <span>Hello, @ViewContext.HttpContext.User.Identity.Name</span>
            }
        </div>

        <partial name="NavigationDrawer" />

        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        <footer class="m-4 border-top footer text-muted">
            <div class="container">
                &copy; 2023 - A Serious Business, Inc.
            </div>
        </footer>
    </main>

    <script src="_framework/blazor.web.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>