    <ul class="space-y-2 font-medium">
        <li>
            <a asp-page="/Demos/Ask"
               class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <span class="w-6">
                    <i class="fa-solid fa-question"></i>
                </span>
                <span class="ml-3">Ask the AI</span>
            </a>
        </li>
        <li>
            <a asp-page="/Demos/Chat" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <span class="w-6">
                    <i class="fa-regular fa-comments"></i>
                </span>
                <span class="ml-3">Chat</span>
            </a>
        </li>
        <li>
            <a asp-page="/Demos/Assistants/Index" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <span class="w-6">
                    <i class="fa-solid fa-handshake-angle"></i>
                </span>
                <span class="ml-3">Assistants</span>
            </a>
        </li>
        <li>
            <a asp-page="/Demos/Files/Index" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <span class="w-6">
                    <i class="fa-regular fa-file"></i>
                </span>
                <span class="ml-3">Files</span>
            </a>
        </li>
        <li>
            <a asp-page="/Demos/Users" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <span class="w-6">
                    <i class="fa-solid fa-users"></i>
                </span>
                <span class="ml-3">Users</span>
            </a>
        </li>
        <li>
            <a asp-page="/Demos/Models" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <span class="w-6">
                    <i class="fa-solid fa-share-nodes"></i>
                </span>
                <span class="ml-3">Models</span>
            </a>
        </li>

        @if (ViewContext.HttpContext.User.Identity is {IsAuthenticated: true }) {
            <li>
                <a asp-page="/Logout" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <span class="w-6">
                        <i class="fa-solid fa-user"></i>
                    </span>
                    <span class="flex-1 ml-3 whitespace-nowrap">Sign out</span>
                </a>
            </li>
        } else {
            <li>
                <a asp-page="/Login" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <span class="w-6">
                        <i class="fa-regular fa-user"></i>
                    </span>
                    <span class="flex-1 ml-3 whitespace-nowrap">Sign In</span>
                </a>
            </li>
        }
    </ul>

