@using Haack.AIDemoWeb.Startup.Config
@using Microsoft.Extensions.Options
@inject IOptions<GitHubOptions> GithubOptions;
@inject NavigationManager Navigation

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/dist/css/main.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&Roboto+Mono:wght@400;700&family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="/dist/js/main.js"></script>
    <script src="https://kit.fontawesome.com/ff2f030d73.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link rel="stylesheet" href="app.css"/>
    <HeadOutlet/>
</head>

<body class="font-sans">
<Routes/>
<script src="_framework/blazor.web.js"></script>
</body>

</html>

@code {
    protected override void OnInitialized()
    {
        var hostOptions = GithubOptions.Value;
        // This is just here to make it easier to test the site locally.
        var currentHost = new Uri(Navigation.Uri).Host;

        if (hostOptions.Host is not null && currentHost != hostOptions.Host)
        {
            Navigation.NavigateTo($"https://{hostOptions.Host}/");
        }
    }
}
