<div class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full">
    @if (Username is null) {
        <img src="https://github.com/user-attachments/assets/2940647b-440e-4ca1-b645-c3a3bdba9dcc" alt="avatar" />
    }
    else if (AvatarUrl is not null) {
        <img src="@AvatarUrl" alt="avatar" />
    } else {
        <svg
            className="absolute w-12 h-12 text-gray-400 -left-1"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                fillRule="evenodd"
                d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                clipRule="evenodd"
            ></path>
        </svg>
    }
</div>

@code {
    [Parameter]
    public string? Username { get; set; }

    [Parameter]
    public Uri? AvatarUrl { get; set; }
}