@page
@model AIDemoWeb.Demos.Pages.Files.UploadPageModel

@{
    ViewData["Title"] = "Files";
}

<section class="m-4 p-4 rounded-xl bg-white border border-gray-300">
    <h1 class="text-lg font-semibold leading-tight">Upload File</h1>

    <form method="post" enctype="multipart/form-data">
        <div class="p-2">
            <label asp-for="Purpose" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
            <select asp-for="Purpose">
                <option value="assistants">assistants</option>
                <option value="fine-tuning">fine-tuning</option>
            </select>
            <span asp-validation-for="Purpose"></span>
        </div>
        <div class="p-2">
            <label asp-for="Upload" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
            <input asp-for="Upload" />
            <span asp-validation-for="Upload"></span>
        </div>
        <input type="submit" class="btn btn-primary" />
    </form>
</section>
