@using Haack.AIDemoWeb.Library.Clients
<span class="text-md relative">
    @for(int i = 0; i < Message.Annotations?.Count; i++) {
        var annotation = Message.Annotations[i];
        var annotationIndex = i + 1;
        <span>@Message.Text[_startIndex..annotation.StartIndex]</span>
        <a class="cursor-pointer" @onclick="() => ToggleAnnotation(annotationIndex)">[@annotationIndex]</a>
        @if (_shownAnnotations.Contains(annotationIndex)) {
            <div class="absolute">
                <div class="p-4 ml-2 text-xs w-64 rounded-md bg-gray-800 text-gray-50">
                    <sup class="text-xs">@i</sup>@(annotation.FileCitation?.Quote ?? annotation.FilePath?.FileId)
                </div>
            </div>
        }

        _startIndex = annotation.EndIndex;
    }
    <span>@Message.Text[_startIndex..]</span>
</span>

@code{
    int _startIndex = 0;
    readonly List<int> _shownAnnotations = new();

    [Parameter]
    public BlazorMessage Message { get; set; } = null!;

    void ToggleAnnotation(int annotationIndex)
    {
        if (_shownAnnotations.Contains(annotationIndex)) {
            _shownAnnotations.Remove(annotationIndex);
        } else {
            _shownAnnotations.Add(annotationIndex);
        }
        _startIndex = 0;
    }
}