@page
@model AIDemoWeb.Demos.Pages.ChatPageModel

@{
    ViewData["Title"] = "Let's chat";
}

<section class="m-4 p-4 rounded-xl bg-white border border-gray-300">
    <h1 class="text-lg font-semibold leading-tight">Welcome</h1>
    <p class="mt-2">This is a demonstration of an OpenAI chat bot in a multi-user chat room.</p>

    <div id="react-root" class="mt-2" data-username="@Model.User.Identity?.Name">

    </div>
</section>

@section Scripts {
    <script src="~/dist/js/react.js" asp-append-version="true">
    </script>
}